#ul{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
  }
  input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  
  background-color: white;
  }
  
  .no-outline:focus {
  outline: none;
  }
  
  .card{
    border: 2px solid white;border-radius: 25px; box-shadow: 1px 1px 340px 80px rgb(75, 197, 222);
  }